#recepie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

#social-media {
  /* border: 1px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
